table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.myform {
    width: 50%;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.inputform{
    width: 100%;
    padding: 15px;
    background-color: green;
    color: #ffffff;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
}