<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="courte description">
    <title>Titre de la page</title>
</head>

<body>
    <h1> Titre : <%= titre %>
    </h1>
    <p>
        Description : <%= description %>
    </p>
    <p>
        Responsable : <%= responsable %>
    </p>
    <p> Enseignants :
    <p>
    <ul>
        <% var i;for (i=0; i < enseignants.length; i++) { %>
            <li>
                <%= enseignants[i] %>
            </li>
            <% } %>
    </ul>
</body>

</html>