<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="courte description">
    <link href="formulaire.css" rel="stylesheet">
    <title> <%= titre %> </title>
</head>

<header>
    <div id="logo">
        <a href="home.ejs"><img src="logo3.png" alt="Logo 75x90px" width="90px" height="75px"></a>
    </div>
    <div id="phrase"> <!-- Slogan du site -->
        <h4>Flowerfull, <sub> Ma vie en vert </sub></h4>
    </div>

    <div class="myform">
        <form action="auth" method="POST">
            <table>
                <tr>
                    <td id="co_txt">Déjà inscrit ?<br>Connectez-vous !</td>
                    <td><input type="email" class="InputBoxC" name="email" placeholder="Votre email" required></td>
                    <td><input type="password" class="InputBoxC" name="password" placeholder="Mot de passe" required></td>
                    <td><input type="submit" class="inputform" name="login" value="Connexion"></td>
                </tr>
            </table>
        </form>
    </div>
</header>

<body>


</body>

</html>