<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="courte description">
    <link href="formulaire.css" rel="stylesheet">
    <title>
        <%= titre %>
    </title>
</head>

<header>

    <nav class="myNav">
        <div id="logo">
            <a href="home"><img src="/images/logo3.png" alt="Insert Logo 75x75px" width="75px" height="75px"></a>
        </div>
        <a class="nav_txt" href="#">Bouquets</a>
        <a class="nav_txt" href="#">A propos</a>
        <a class="nav_txt" href="#">Support</a>
        <a class="nav_txt" href="#">Panier</a>
    </nav>

</header>

<body>
    <div id="slogan">
        <!-- Slogan du site -->
        <h4>Flowerfull, <sub> Ma vie en vert </sub></h4>
    </div>

    <script>

    </script>


    <div id="accueil">

        <form method="POST" action="ajout_panier">
            <script>
                
            </script>
        </form>
    </div>
    $(document).ready(function () {


    });


</body>

</html>